//- The name of the project, a short tagline/description, and then the three features numbers and their labels
mixin project_promo(name, tagline, num1, num1_label, num2, num2_label, num3, num3_label)
  .project_page_promo
    .vertical_center
      .container.promo_name_container.centered_text
        .project_promo_name= name
        .project_promo_sub_text= tagline
      .highlights_outer_container
        .container.highlights_container
          .col-md-4
            .project_highlight_number= num1
            .project_highlight_text= num1_label
          .col-md-4
            .project_highlight_number= num2
            .project_highlight_text= num2_label
          .col-md-4
            .project_highlight_number= num3
            .project_highlight_text= num3_label

mixin project_info(what_is_it, my_role)
  .side_by_side_container
    .subsection_header.side_by_side_left_header
      span.subsection_header_text What is it?
    .subsection_header_divider.side_by_side_left_header_divider
    .subsection_content.side_by_side_left_content
      p= what_is_it

    .subsection_header.side_by_side_right_header
      span.subsection_header_text My role
    .subsection_header_divider.side_by_side_right_header_divider
    .subsection_content.side_by_side_right_content
      p= my_role

  //- .subsection_header_row
  //-   .container
  //-     .row
  //-       .col-md-5.subsection_header
  //-         span.subsection_header_text What is it?
  //-       .col-md-6.col-md-offset-1.subsection_header
  //-         span.subsection_header_text My role
  //- .container
  //-   .row
  //-     .col-md-5= what_is_it
  //-     .col-md-6.col-md-offset-1= my_role

mixin project_images(section_name)
  .subsection_header_row
    .container
      .row
        .col-md-12.subsection_header
          span.subsection_header_text= section_name
  .container.small_margin_top
    block

mixin full_width_project_image(image_path)
  //- the label is passed in as a block
  //- the container_class should be passed in as attribute - it is applied to the containing div
  .image_and_label_container.full_width(class!=attributes.container_class)
    a(href=image_path).focusable_image_container
      img(src=image_path alt="image").focusable_image
    .image_label
      block

mixin left_half_project_image(image_path)
  //- the label is passed in as a block
  //- the container_class should be passed in as attribute - it is applied to the containing div
  .image_and_label_container.left_half(class!=attributes.container_class)
    a(href=image_path).focusable_image_container
      img(src=image_path alt="image").focusable_image
    .image_label
      block

mixin right_half_project_image(image_path)
  //- the label is passed in as a block
  //- the container_class should be passed in as attribute - it is applied to the containing div
  .image_and_label_container.right_half(class!=attributes.container_class)
      .image_label
        block
      a(href=image_path).focusable_image_container
        img(src=image_path alt="image").focusable_image

mixin side_by_side_project_images
  //- the container_class should be passed in as attribute - it is applied to the containing div
  //- this mixin takes a block - in that block, the user should also call the mixins for side_by_side_left_image and side_by_side_right_image (back-to-back)
  .image_and_label_container.side_by_side_container(class!=attributes.container_class)
    block

mixin side_by_side_left_image(image_path)
  .image_and_label_container.side_by_side.side_by_side_left
    a(href=image_path).focusable_image_container
      img(src=image_path alt="image").focusable_image
    .image_label(class!=attributes.label_class)
      block

mixin side_by_side_right_image(image_path)
  .image_and_label_container.side_by_side.side_by_side_right
    a(href=image_path).focusable_image_container
      img(src=image_path alt="image").focusable_image
    .image_label(class!=attributes.label_class)
      block
